<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>ООО «СтройМатериалы»</title>
<link rel="stylesheet" href="css/main.css">
<script src="js/vendor/react.production.min.js"></script>
<script src="js/vendor/react-dom.production.min.js"></script>
<script src="js/vendor/babel.min.js"></script>
<script>window.__USER__ = {{ user_json | safe }};</script>
<script src="js/permissions.js"></script>
</head>
<body>
<div id="root"></div>
<script type="text/babel" src="js/main.js"></script>
</body>
</html>
